.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/Users/user/Coding Projects/political-quiz-app/public/images/american-symbols-wooden-surface.jpg");
  background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  cursor: pointer;
  background-color: lime;
  border-color: black;
  border-width: 16px;
  color: black;
  font-family: 'Franklin Gothic Medium';
  font-size: 96px;
  border-radius: 5px;

}

.Republican-style {
  font-weight: bold;
  color: red;
}


.Democrat-style {
  font-weight: bold;
  color: blue;
}
